body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #e9f7ff;
}

.random {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

h3 {
  text-align: center;
  font-size: 2rem;
  margin: 20px 0;
}

#game-over {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.hidden {
  display: none;
}

#restart {
  background: #ff5733;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

#restart:hover {
  background: #e84323;
}
